@if (visible) {
    <div id="round-overlay" class="round-overlay show" [class.bg-gameover]="modoGameOver">
        <div class="round-overlay-content">
            
            <div class="round-overlay-title">
                {{ modoGameOver ? 'GAME OVER' : 'RONDA SUPERADA' }}
            </div>
            
            @if (!modoGameOver) {
                <div class="round-overlay-timer">{{ countdown }}</div>
            }

            @if (modoGameOver) {
                <button (click)="reiniciarPartida()" class="restart-btn" style="display: inline-block;">
                    ↺ REINICIAR PARTIDA
                </button>
            }

        </div>
    </div>
}